:root {
  --main-color: #E1306C;
  --hover-color: #C13584;
  --light-color: #f0f0f0;
  --gray-color: #808080;
  --h-font: 'Oswald', sans-serif;
  --p-font: 'Poppins', sans-serif;
  --card-height: 100%;
}

body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: var(--h-font);
}

p {
  font-family: var(--p-font);
}

.navbar-brand {
  letter-spacing: 2px;
  font-weight: 300;
}

.dark-background {
  background-image: url("images/dark-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-color);
}

.btn-icon {
  margin-right: 5px;
}

.navbar-brand>img {
  margin-right: 5px;
}

.checkbox {
  width: 26px;
  height: 16px;
  padding: 4px;

  display: flex;
  align-items: center;

  background-color: var(--light-color);

  border-radius: 24px;
  border: solid 2px var(--gray-color);

  cursor: pointer;
}

.checkbox::before {
  content: "";
  display: inline-block;

  width: 8px;
  height: 8px;
  border-radius: 12px;

  background-color: var(--gray-color);

  transition: 
    width 200ms,height 200ms,
    transform 200ms, background-color 200ms;
}

.checkbox.on {
  border-color: var(--light-color);
  background-color: var(--light-color);
}

.checkbox.on::before {
  background-color: var(--gray-color);
  width: 10px;
  height: 10px;
  transform: translateX(8px);
}

.moon-sun {
  color: var(--gray-color);
}

.mail {
  font-size: 0.8rem;
  font-family: var(--p-font);
  margin-left: 5px;
}

.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* Zoom In #1 */
.zoom-in {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-in:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 35px 80px -12px !important;
}

.client-img {
  width: 180px;
  margin: 40px 60px;
  align-items: center;
}

.btn-primary {
  background: var(--main-color);
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
  border-color: var(--main-color);
  padding-right: 1rem;
  padding-left: 1rem;
}

.btn-primary:hover {
  background: var(--hover-color);
  border-color: var(--hover-color);
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }
}

/*
 * Extra utilities Bootstrap products
 */

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

.rounded-5 { border-radius: 1rem; }