body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  letter-spacing: 2px;
  font-weight: 300;

  background: linear-gradient(-217deg, rgba(255,48,108,.8) 50.71%, rgba(255,48,108,0.2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark-background {
  background-image: url("images/dark-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #f0f0f0;
}

.btn-icon {
  margin-right: 5px;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.navbar-brand>img {
  margin-right: 5px;
}

.checkbox {
  width: 26px;
  height: 16px;
  padding: 4px;

  display: flex;
  align-items: center;

  background-color: #f0f0f0;

  border-radius: 24px;
  border: solid 2px gray;

  cursor: pointer;
}

.checkbox::before {
  content: "";
  display: inline-block;

  width: 8px;
  height: 8px;
  border-radius: 12px;

  background-color: gray;

  transition: 
    width 200ms,height 200ms,
    transform 200ms, background-color 200ms;
}

.checkbox.on {
  border-color: #f0f0f0;
  background-color: #f0f0f0;
}

.checkbox.on::before {
  background-color: gray;
  width: 10px;
  height: 10px;
  transform: translateX(8px);
}

.moon-sun {
  color: gray;
}

.mail {
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  margin-left: 5px;
}

.client-img {
  width: 180px;
  margin: 40px 60px;
  align-items: center;
}

.instagram-button {
  background: #E1306C;
  /* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
  border-color: #E1306C;
  padding-right: 1rem;
  padding-left: 1rem;
}

.instagram-button:hover {
  background: #C13584;
  border-color: #C13584;
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: .3rem;
  }
}

/*
 * Extra utilities Bootstrap products
 */

@media (min-width: 768px) {
  .flex-md-equal>* {
    flex: 1;
  }
}

.rounded-5 { border-radius: 1rem; }
